.button-clickable {
    cursor: pointer;
}

.hero-container {
    overflow: hidden;
    min-width: 100%;
    height: 70vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container img {
    width: auto;
    height: 100%;
}
.navbar {
    height: 80px;
    transition: 0.4s;
    z-index: 50;
}
.drawer {
    z-index: 1;
    transition: 0.4s;
    transform: translateX(-100vw);
    padding: 0 8vw;
}
.drawer.show {
    transform: translateX(0);
}
.drawer .logo {
    top: 25px;
    left: 8vw;
    width: 160px;
}
.drawer .close {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 24px;
    height: 24px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.drawer .close div {
    width: 100%;
    height: 4px;
    position: absolute;
}
.drawer .close div:nth-child(1) {
    transform: rotate(45deg);
}
.drawer .close div:nth-child(2) {
    transform: rotate(-45deg);
}
.drawer .close:hover {
    transform: rotate(180deg);
    transform-origin: center center;
    width: 35px;
}
.drawer-language-options {
    position: absolute;
    bottom: 20px;
    left: auto;
}
.drawer-language-options .active{
    border-bottom: 2px solid #B8A4E2;
    padding-bottom: 15px;
}
.menu-list h2 {
    font-size: 3rem;
}

.link--hover {
    cursor: pointer;
    position: relative;
}
.link--hover > div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    transition: 0.4s;
}
.link--hover:hover > div {
    width: 100%;
}
.language-option a.active div {
    width: 100%;
}
.img-overflow {
    overflow: hidden;
    max-height: 495px;
    max-width: 470px;
    padding: 0;
}
.img-overflow img {
    height: 100%;
    width: auto;
}

.slide-in {
    opacity:0;
    transition:0.4s;
}
.slide-in.slide-right {
    transform: translateX(-100px);
}
.slide-in.slide-left {
    transform: translateX(100px);
}
.slide-in.slide-up {
    transform: translateY(-100px);
}
.slide-in.slide-down {
    transform: translateY(100px);
}
.slide-in.slide-active {
    opacity:1;
    transform: translate(0px);
}

/* Careers */

.item-4 {
    display: none;
}
.career-header-grid-container {
    display: flex;
    flex-direction: column-reverse;
}
.item-2 {
    margin: 20px 0;
}

.down-arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-left: 3px solid #17285B;
    border-bottom: 3px solid #17285B;
    position: relative;
}
.down-arrow > div {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #17285B;
    transform: rotate(-45deg);
    left: -4px;
    bottom: 4px;
}

.section-title--rotated {
    transform: rotate(-15deg) translate(1rem, -4rem);
}

.lottie-icons {
    width: 150px;
}

.lottie-scale {
    transform: scale(1.4);
}

.job-item {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 25px;
    margin-top: 20px;
}
.forward-arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-right: 3px solid #17285B;
    border-bottom: 3px solid #17285B;
    position: relative;
    transform: rotate(-45deg);
    transition: 0.3s;
}
.forward-arrow > div {
    position: absolute;
    width: 21px;
    height: 3px;
    background-color: #17285B;
    transform: rotate(45deg);
    left: -7px;
    bottom: 4px;
}
.arrow-link:hover .forward-arrow {
    transform: rotate(-45deg) translate(8px, 8px);
}
.expand {
    max-height: 0px;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 0.4s;
}
.show-list {
    max-height: 100%;
    transform: scaleY(100%);
}


@media screen and (min-width: 768px) {
    .hero-container {
        height: 70vh;
    }
    .hero-container img {
        width: 100%;
        height: auto;
    }

    .overflow-img {
        overflow: hidden;
        width: inherit;
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .overflow-img img {
        width: auto;
        height: 100%;
    }
    .padding-box {
        padding: 0 20%;
    }
    .img-overflow {
        padding: 0 10px;
    }

    /* Careers */

    .item-1 {
        grid-area: text;
    }
    .item-2 {
        grid-area: join;
    }
    .item-3 {
        grid-area: image;
    }

    .item-4 {
        display: block;
        grid-area: careers;
        align-self: end;
        justify-self: end;
    }
    .career-header-grid-container {
        display: grid;
        grid-template-columns: 40% 10% 10% 20% 20%;
        grid-template-rows: auto;
        grid-template-areas: 
        ". . image image image"
        "text . image image image"
        ". . image image image"
        "join . . . careers";
    }

    .lottie-icons {
        width: 200px;
    }

    .lottie-scale {
        transform: scale(1);
    }

    .job-item {
        border-bottom: 1px solid #17285B;
        padding-bottom: 20px;
        margin-top: 18px;
    }
}


@media screen and (min-width: 992px) {
    .drawer {
        padding: 0 5vw;
    }
    .drawer .logo {
        left: 5vw;
    }
    .menu-list h2 {
        font-size: 3.8rem;
    }
    .img-overflow {
        max-height: auto;
        max-width: auto;
        flex: 0 0 auto;
        max-width: 100%;
    }
    .img-overflow:nth-child(1) {
        width: 25%;
    }
    .img-overflow:nth-child(2) {
        width: 50%;
        padding: 0 10px;
    }
    .img-overflow img {
        height: auto;
        width: 100%;
    }

    /* Career */

    .section-title--rotated {
        transform: rotate(-15deg) translateY(0px);
    }
}
